body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

p {
  font-family: 'Ubuntu', sans-serif; }

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  font-size: 17px; }

.header {
  background-color: #515B65;
  padding: 150px 0; }

.centered {
  margin: 0 auto;
  width: 41%; }

h1, .description {
  color: #FFF;
  text-align: center; }

h1 {
  font-size: 27px;
  font-weight: normal;
  text-transform: uppercase; }

.description {
  font-size: 18px; }

.wrap {
  text-align: center; }

.button {
  display: inline-block;
  width: 150px;
  height: 18px;
  border-radius: 4px;
  margin: 20px 15px;
  text-align: center;
  padding: 17px 0; }

.buttons {
  margin: 20px auto;
  width: 70%; }

.button-blue {
  background-color: #7ea4e8; }

.button-grey {
  background-color: #6a7079; }

.span {
  font-family: 'FontAwesome', sans-serif; }

.speaker {
  display: inline-block;
  width: 24%;
  margin: 60px 0 80px; }

h2 {
  margin: 106px 0 5px;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  color: #6a7079;
  font-weight: lighter; }

.subheader {
  margin-top: 0px;
  text-align: center;
  font-size: 18px;
  color: #6a7079;
  letter-spacing: 1px;
  color: #828282; }

.wrapper {
  width: 71.25%;
  margin: 0 auto; }

.ava {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  background-color: #cdd0d2;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

h4 {
  color: #6a7079;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center; }

.speakers-description {
  color: #828282;
  text-align: center;
  line-height: 23px;
  font-size: 14px; }

.content {
  position: relative;
  transition: top 0.25s ease-in; }

.bottom {
  top: 150px; }

span i {
  color: #FFF;
  margin: 0 0 0 44px; }

.speaker:hover {
  cursor: pointer; }
  .speaker:hover h4 {
    color: #2cc7c1; }
  .speaker:hover .ava {
    background-color: #2cc7c1; }
    .speaker:hover .ava .bottom {
      top: 44px; }

.speakers {
  border-bottom: 7px solid #F0F0F1;
  padding-bottom: 80px; }

.video {
  margin: 106px 0 0;
  width: 48%;
  height: 290px;
  background-color: #ececec;
  border-radius: 4px;
  display: inline-block;
  position: relative; }
  .video img {
    margin-top: 100px; }
  .video .icons {
    position: absolute;
    bottom: 12px;
    left: 14px; }
  .video i {
    color: #2cc7c1;
    margin-left: 1px; }

.features .subheader {
  text-align: left;
  margin: 20px 0 0 0; }

.feature-text {
  display: inline-block;
  float: right;
  width: 48%; }
  .feature-text h2 {
    text-align: left; }

.feature-description {
  text-align: left;
  font-size: 15px;
  margin-top: 20px;
  color: #828282;
  line-height: 22px; }

.more {
  color: #2cc7c1;
  display: block;
  font-size: 16px;
  margin: 20px 0 0 0; }

.feature-text-left {
  float: left; }

.slideshow {
  float: right; }

.sponsors {
  display: inline-block;
  margin: 50px 0;
  width: 100%; }

.each {
  width: 19.66%;
  display: inline-block; }
  .each p {
    text-align: center;
    margin: 0; }

.last-each {
  float: right; }
  .last-each img {
    float: right; }

footer {
  background-color: #525b64; }

.social {
  display: inline-block;
  width: 48%; }
  .social .feature-description {
    color: #cdd0d2;
    margin-bottom: 15px; }
  .social img {
    margin-bottom: 70px; }

.social-header {
  margin-top: 70px;
  font-size: 17px;
  color: #FFF;
  text-align: left;
  text-transform: none;
  font-weight: 300; }

.bold {
  font-weight: 600; }

.amount-icon {
  margin-left: -7px; }

.follow-icon {
  margin-left: 6px; }

.help {
  display: inline-block;
  width: 25%;
  position: absolute;
  margin-left: 75px; }
  .help a {
    font-size: 15px;
    text-transform: none; }
  .help .feature-description {
    color: #cdd0d2; }

.footer-header {
  margin-top: 70px;
  color: #FFF;
  font-size: 17px; }

.hightlight {
  color: #2cc7c1; }

.contact {
  display: inline-block;
  float: right;
  width: 17%; }
  .contact i {
    margin: 0;
    color: #2cc7c1; }
  .contact .contacts {
    display: inline-block;
    margin-top: 0;
    color: #2cc7c1;
    margin-left: 4px; }

.copyright {
  background-color: #3f464c;
  padding: 2px 0; }
  .copyright p {
    color: #cacaca;
    font-size: 12px; }

.crutch {
  min-height: 100%; }

/*# sourceMappingURL=style.css.map */
