$main: #515B65;
$hightlight: #39DED5;
$buttonBlue: #7ea4e8;
$buttonGrey: #6a7079;
$white: #FFF;

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: 17px;
}
.header {
  background-color: $main;
  padding: 200px 0;
}
.centered {
  margin: 0 auto;
  width: 41%;
}
h1, .description {
  color: $white;
  text-align: center;
}
h1 {
  font-size: 31px;
  font-weight: normal;
  text-transform: uppercase;
}
.description {
  font-size: 20px;

}
.wrap {
  text-align: center;
}
.button {
  display: inline-block;
  width: 150px;
  height: 18px;
  border-radius: 4px;
  margin: 30px 15px;
  text-align: center;
  padding: 17px 0;
}
.buttons {
  margin: 20px auto;
  width: 70%;
}
.button-blue {
  background-color: $buttonBlue;
}
.button-grey {
  background-color: $buttonGrey;
}
.span {
  font-family: 'FontAwesome', sans-serif;
}
