$main: #515B65;
$hightlight: #2cc7c1;
$blue: #7ea4e8;
$grey: #6a7079;
$white: #FFF;
$lightGrey: #cdd0d2;
$lighestGrey: #828282;
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: 17px;
}
.header {
  background-color: $main;
  padding: 150px 0;
}
.centered {
  margin: 0 auto;
  width: 41%;
}
h1, .description {
  color: $white;
  text-align: center;
}
h1 {
  font-size: 27px;
  font-weight: normal;
  text-transform: uppercase;
}
.description {
  font-size: 18px;

}
.wrap {
  text-align: center;
}
.button {
  display: inline-block;
  width: 150px;
  height: 18px;
  border-radius: 4px;
  margin: 20px 15px;
  text-align: center;
  padding: 17px 0;
}
.buttons {
  margin: 20px auto;
  width: 70%;
}
.button-blue {
  background-color: $blue;
}
.button-grey {
  background-color: $grey;
}
.span {
  font-family: 'FontAwesome', sans-serif;
}
.speaker {
  display: inline-block;
  width: 24%;
  margin: 60px 0 80px;
}
h2 {
  margin: 106px 0 5px;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  color: $grey;
  font-weight: lighter;
}
.subheader {
  margin-top: 0px;
  text-align: center;
  font-size: 18px;
  color: $grey;
  letter-spacing: 1px;
  color: $lighestGrey;
}
.wrapper {
  width: 71.25%;
  margin: 0 auto;
}
.ava {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  background-color: $lightGrey;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
h4 {
  color: $grey;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}
.speakers-description {
  color: $lighestGrey;
  text-align: center;
  line-height: 23px;
  font-size: 14px;
}
.content {
  position: relative;
  transition: top 0.25s ease-in;
}
.bottom {
  top: 150px;
}
span {
  i {
    color: $white;
    margin: 0 0 0 44px;
  }
}
.speaker:hover {
  h4 {
    color: $hightlight;
  }
  .ava {
    .bottom {
      top: 44px;
    }
    background-color: $hightlight;
  }
  cursor: pointer;
}
.speakers {
  border-bottom: 7px solid #F0F0F1;
  padding-bottom: 80px;
}
.video {
  margin: 106px 0 0;
  width: 48%;
  height: 290px;
  background-color: #ececec;
  border-radius: 4px;
  display: inline-block;
  position: relative;

  img {
    margin-top: 100px;
  }
  .icons {
    position: absolute;
    bottom: 12px;
    left: 14px;
  }
  i {
    color: $hightlight;
    margin-left: 1px;
  }
}
.features {
  .subheader {
    text-align: left;
    margin: 20px 0 0 0;
  }
}
.feature-text {
  display: inline-block;
  float: right;
  width: 45%;
  h2 {
    text-align: left;
  }
}
.feature-description {
  text-align: left;
  font-size: 15px;
  margin-top: 20px;
  color: $lighestGrey;
  line-height: 22px;
}
.more {
  color: $hightlight;
  display: block;
  font-size: 16px;
  margin: 20px 0 0 0;
}
.feature-text-left {
  float: left;
}
.slideshow {
  float: right;
}
.sponsors {
  display: inline-block;
  margin: 50px 0;

  img:first-child {
    margin-left: 0px;
  }
  img {
    margin-left: 57px;
  }
}
footer {
  background-color: #525b64;
}
.social {
  display: inline-block;
  width: 41.66%;

  .feature-description {
    color: $lightGrey;
    margin-bottom: 15px;
  }
  img {
    margin-bottom: 70px;
  }
}
.social-header {
  margin-top: 70px;
  font-size: 17px;
  color: $white;
  text-align: left;
  text-transform: none;
  font-weight: 300;
}
.bold {
  font-weight: 600;
}
.amount-icon {
  margin-left: -7px;
}
.follow-icon {
  margin-left: 6px;
}
.help {
  display: inline-block;
  width: 25%;
  position: absolute;
  margin-left: 100px;

  a {
    font-size: 15px;
    text-transform: none;
  }
  .feature-description {
    color: $lightGrey;
  }
}
.footer-header {
  margin-top: 70px;
  color: $white;
  font-size: 17px;
}
.hightlight {
  color: $hightlight;
}
.contact {
  display: inline-block;
  float: right;
  width: 15%;

  i {
    margin: 0;
    color: $hightlight;
  }
  .contacts {
    display: inline-block;
    margin-top: 0;
    color: $hightlight;
    margin-left: 6px;
  }
}
.copyright {
  background-color: #3f464c;
  padding: 2px 0;

  p {
    color: #cacaca;
    font-size: 12px;
  }
}



