$main: #515B65;
$hightlight: #2cc7c1;
$blue: #7ea4e8;
$grey: #6a7079;
$white: #FFF;
$lightGrey: #cdd0d2;

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: 17px;
}
.header {
  background-color: $main;
  padding: 150px 0;
}
.centered {
  margin: 0 auto;
  width: 41%;
}
h1, .description {
  color: $white;
  text-align: center;
}
h1 {
  font-size: 27px;
  font-weight: normal;
  text-transform: uppercase;
}
.description {
  font-size: 18px;

}
.wrap {
  text-align: center;
}
.button {
  display: inline-block;
  width: 150px;
  height: 18px;
  border-radius: 4px;
  margin: 20px 15px;
  text-align: center;
  padding: 17px 0;
}
.buttons {
  margin: 20px auto;
  width: 70%;
}
.button-blue {
  background-color: $blue;
}
.button-grey {
  background-color: $grey;
}
.span {
  font-family: 'FontAwesome', sans-serif;
}
.speaker {
  display: inline-block;
  width: 24.69%;
  margin: 60px 0 80px;
}
h2 {
  margin: 106px 0 5px;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  color: $grey;
  font-weight: lighter;
}
.subheader {
  margin-top: 0px;
  text-align: center;
  font-size: 18px;
  color: $grey;
  letter-spacing: 1px;
  color: #828282;
}
.wrapper {
  width: 71.25%;
  margin: 0 auto;
}
.ava {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  background-color: $lightGrey;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
h4 {
  color: $grey;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}
.speakers-description {
  color: #828282;
  text-align: center;
  line-height: 23px;
  font-size: 14px;
}
.content {
  position: relative;
  transition: top 0.25s ease-in;
}
.bottom {
  top: 150px;
}
span {
  i {
    color: $white;
    margin: 0 0 0 44px;
  }
}
.speaker:hover {
  h4 {
    color: $hightlight;
  }
  .ava {
    .bottom {
      top: 44px;
    }
    background-color: $hightlight;
  }
  cursor: pointer;
}
.speakers {
  border-bottom: 7px solid #F0F0F1;
  padding-bottom: 80px;
}
.video {
  margin: 106px 0;
  width: 570px;
  height: 316px;
  background-color: $lightGrey;
  display: inline-block;

  img {
    margin-top: 130px;
  }
}
.right-align {
  display: inline-block;
  float: left;

}














