@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
html {
  font-family: 'Fira Sans', Arial, sans-serif;
}

body {
  background: url(../img/bg.jpg) repeat;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 955px;
  margin: 0 auto;
}

header {
  background: #EFF3F7;
  width: 100%;
}

header .logo {
  width: 6em;
  display: inline-block;
  margin: .25em 0 .25em 0;
  cursor: pointer;
  float: left;
}

header .header_wrap {
  max-width: 1200px;
  margin: 0 auto;
}

header .social {
  display: inline-block;
  float: right;
  margin: 2em 0;
}

header .social img {
  width: 3em;
  cursor: pointer;
}

header .social img:hover {
  color: #44A8C0;
}

.gradient {
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #FFF, #194F67 50%, #FFF 100%);
}

.icon {
  background: #58697A;
  width: 3em;
  height: 3em;
  margin-left: 1.5em;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  transition: all .2s ease-in-out;
}

.icon i {
  position: absolute;
  top: 16%;
  color: #FFF;
  display: block;
}

.icon:hover {
  background: #44A8C0;
}

.icon:last-child {
  background: transparent;
  margin-left: 3em;
  display: none;
}

.icon:last-child i {
  color: #58697A;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

main {
  max-width: 960px;
  margin: 2em auto 0;
}

.sidebar {
  width: 26%;
  float: left;
}

.sidebar .underline {
  height: 2px;
  width: 92%;
  margin: 0 auto;
  background: #44A8C0;
}

.sidebar .menu {
  background: #EFF3F7;
  font-size: 1.3em;
  border-radius: 5px;
  font-weight: 200;
  overflow: hidden;
}

.sidebar .menu li {
  width: 93%;
  margin: 0 auto;
}

.sidebar .menu a {
  display: block;
  padding: 25px 18px;
  text-decoration: none;
  color: #959aa8;
}

.sidebar .menu a:hover {
  border-bottom: 2px solid #3ba8c0;
  padding-bottom: 23px;
  color: #3ba8c0;
}

.sidebar .menu li:last-child a:hover {
  border: none;
  padding-bottom: 25px;
}

.sidebar .menu .active {
  background: #3ba8c0;
  width: 100%;
}

.sidebar .menu .active a {
  color: #FFF;
  padding-left: 25px;
}

.contacts {
  border-radius: 5px;
  color: #FFF;
  margin-top: 1.5em;
  overflow: hidden;
}

.contacts h3 {
  width: 100%;
  color: white;
  font-size: 1.31em;
  padding: 15px 20px;
  background: #44A8C0;
  font-weight: 200;
  margin: 0;
}

.contacts a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
}

.contacts a:hover {
  text-decoration: underline;
}

.contacts i {
  display: inline-block;
  float: left;
  margin: .75em 1em .75em 2em;
}

.contacts li {
  width: 100%;
  color: #FFF;
  font-weight: 200;
}

.contacts li:nth-child(1) {
  background: #4BB9D4;
}

.contacts li:nth-child(2) {
  background: #54CBE8;
}

.contacts li:nth-child(3) {
  background: #5ADAF8;
  border-radius: 0 0 5px 5px;
}

/* End of .sidebar */
.content {
  width: 68%;
  float: right;
  padding: 0;
}

.content .top {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  margin-left: -55px;
}

.content h2 {
  font-weight: lighter;
  font-size: 1.7em;
  color: #44A8C0;
  display: inline-block;
  padding: 10px 0 10px 15px;
  border-bottom: 2px solid #44A8C0;
}

.content .block {
  background: #EFF3F7;
  border-radius: 5px;
  padding: 0 0 50px 50px;
  overflow: hidden;
  margin-bottom: 25px;
}

.content .main_info .avatar {
  border-radius: 50%;
  overflow: hidden;
  background: #44A8C0;
  height: 128px;
  width: 128px;
  border: 4px solid #44A8C0;
  position: relative;
  display: block;
  float: left;
  margin-right: 20px;
}

.content .main_info ul {
  overflow: hidden;
}

.content .main_info ul li {
  margin-bottom: 20px;
}

.content .main_info .info_headings {
  font-weight: 600;
  margin-right: 1em;
  color: #414C56;
  float: left;
}

.content .main_info .info_value {
  font-weight: 400;
}

.content .main_info li {
  margin-top: 1em;
  display: flex;
}

.content .main_info .info_skills {
  overflow: hidden;
}

.content .main_info .info_skills li {
  float: left;
  background-image: -webkit-linear-gradient(#44a7c0 50%, #378ca2 50%);
  background-image: -o-linear-gradient(#44a7c0 50%, #378ca2 50%);
  background-image: linear-gradient(#44a7c0 50%, #378ca2 50%);
  color: #FFF;
  padding: .2em .6em;
  border-radius: 3px;
  margin: 0 8px 8px 0;
  font-size: .9em;
  cursor: pointer;
}

.content .main_info .info_skills li:hover {
  background: -webkit-linear-gradient(#4ab8d3 50%, #3e9fb7 50%);
  background: -o-linear-gradient(#4ab8d3 50%, #3e9fb7 50%);
  background: linear-gradient(#4ab8d3 50%, #3e9fb7 50%);
}

.info_line {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.info_line_img {
  display: flex;
  float: left;
  margin-right: 30px;
  width: 41px;
}

.info_line_img img {
  margin: 0 auto;
}

.text {
  overflow: hidden;
}

.text .info_line_header {
  font-weight: 400;
  font-size: 1.15em;
  margin: 0;
  margin-bottom: 8px;
}

.text .period {
  font-weight: 200;
  font-size: .9em;
  margin: 0;
}

.fixed {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer {
  background: #EFF3F7;
  height: 80px;
  clear: both;
  width: 100%;
}

footer .footer_wrap {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  line-height: 80px;
  vertical-align: middle;
}

footer .login {
  float: left;
}

footer .copyright {
  font-size: 0.8em;
  color: #959AA8;
  margin: 0;
}

/* P O R T F O L I O */
.port_block {
  padding: 0 !important;
}

.port_block .bottom {
  width: 94%;
  margin: 0 auto;
}

.port_block_header {
  display: block;
}

.port_block_header h2 {
  display: inline-block;
  padding: 20px;
  font-size: 1.75em;
}

.work {
  width: 27.692307692%;
  height: 128px;
  position: relative;
  background: #FFF;
  cursor: pointer;
  text-align: center;
  border: 2px solid #00ABC3;
  margin: 0 0 4em 1.5em;
  display: inline-block;
}

.work img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  max-width: 100%;
  min-height: 100%;
}

.work .tone {
  z-index: 2;
  position: absolute;
  display: table;
  background: rgba(68, 168, 192, 0);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.work .tone span {
  display: none;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-weight: lighter;
}

.work .tone:hover {
  background: rgba(68, 168, 192, 0.8);
}

.work .tone:hover span {
  display: table-cell;
}

.work a {
  color: #3ba8c0;
  position: absolute;
  top: 129px;
  right: 28%;
  margin-top: .8em;
  font-weight: 400;
  font-size: .8em;
  font-style: italic;
}

.work .name {
  color: #4a545d;
  position: absolute;
  top: 140px;
  font-weight: 400;
  font-size: .9em;
}

.add_new {
  background: #EBF9FD;
  border: 1px dashed #00ABC3;
}

.add_new img {
  margin-top: 2em;
  min-height: 0;
}

.add_new .name {
  color: #00ABC3;
  font-weight: lighter;
  font-size: .9em;
  margin: -4.5em 2.5em;
}

/* C O N T A C T */
.contact {
  background: #00CFEB;
  padding: 0 !important;
}

.contact .contact_block_header {
  background: #00CFEB;
  border-bottom: 18px solid #67dffa;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 50px;
}

.contact h3 {
  font-size: 1.7em;
  color: #FFF;
  font-weight: 300;
}

.contact .contact__form {
  width: 61.538461538%;
  margin: 2em auto;
}

.contact form {
  max-width: 70%;
}

label {
  font-size: 1.2em;
  font-weight: 200;
  color: #B0B4C0;
  display: inline-block;
}

label[for=name] {
  margin-right: 8.6em;
}

input, textarea {
  border: 1px solid #44DBF0;
  color: #44DBF0;
  background: #FFF;
  font-size: .8em;
  border-radius: 3px;
  padding: 0 1em;
}

textarea {
  margin: .5em 0;
  padding: 1em 1em;
  width: 93.7%;
}

#name, #email {
  width: 42%;
  height: 40px;
  margin: .5em 0 1em 0;
}

#name {
  margin-right: .2em;
}

#capcha {
  height: 30px;
  width: 42.415%;
  float: right;
  margin: 3em 0;
}

form img {
  background: #FFF;
  border: 1px solid #44DBF0;
  border-radius: 3px;
  margin: 1em 0;
  width: 48.8%;
}

.button {
  width: 33%;
  height: 30px;
  color: #FFF;
  font-size: 1em;
  font-weight: 200;
  border-radius: 5px;
  cursor: pointer;
}

.button__submit {
  background: #00CFEB;
  border-bottom: 3px solid #00ABC3;
}

.button__submit:hover {
  background: #00b9d2;
}

.button__clear {
  background: #809DB6;
  border-bottom: 3px solid #657B90;
  float: right;
}

.button__clear:hover {
  background: #7091ad;
}

.disabled,
.disabled:hover {
  background: #88D6E0;
  cursor: default;
  border: none;
}

.disabled_clear,
.disabled_clear:hover {
  background: #BCCFE0;
  cursor: default;
  border: none;
}

.horizontal_contacts {
  width: 100%;
  border-spacing: 0;
  color: #FFF;
  display: none;
  margin-bottom: 1.5em;
}

.horizontal_contacts a {
  color: #FFF;
  font-weight: 200;
  margin-left: .5em;
}

.horizontal_contacts tr {
  height: 40px;
}

.horizontal_contacts td {
  margin: 0;
  padding: 0;
  width: 33.33333%;
  text-align: center;
}

.horizontal_contacts td div {
  overflow: hidden;
  width: 100%;
}

.horizontal_contacts td:nth-child(1) {
  background: #00BDD7;
}

.horizontal_contacts td:nth-child(2) {
  background: #00CFEB;
}

.horizontal_contacts td:nth-child(3) {
  background: #00DEFB;
}

/*-------------------------------------------------
  Media Queries
--------------------------------------------------*/
@media only screen and (max-width: 612px) {
  .port_block .bottom {
    width: 80%;
    margin: 0 auto;
    background: yellow;
  }
  .port_block .bottom .work {
    width: 45%;
    margin-left: 0;
    margin-bottom: 5em;
  }
  .port_block .bottom .work:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  #name, #email {
    max-width: 40%;
  }
  #email {
    float: right;
    margin-right: 0 !important;
  }
  textarea {
    width: 92%;
  }
}

@media only screen and (max-width: 527px) {
  .icon {
    margin-left: .3em !important;
  }
  .main_info .block {
    padding-left: 20px !important;
  }
  .top {
    margin-left: -20px !important;
  }
}

@media only screen and (max-width: 768px) {
  .icon:last-child {
    display: inline-flex;
  }
  main {
    max-width: 95%;
  }
  .header_wrap {
    width: 95%;
  }
  .sidebar {
    display: none;
  }
  .content {
    width: 100%;
  }
  .horizontal_contacts {
    display: table;
  }
  .contact__form {
    width: 80% !important;
  }
  .footer_wrap {
    width: 95%;
  }
}
