@import '../../bower_components/breakpoint-sass/stylesheets/breakpoint';
@import "variables";

// - - - - - - - - - - - - - Global Styles - - - - - - - - - - - - - - //

* {
  box-sizing: border-box;
}

html, body {
  font-family: $font-family;
  color: $main;
  background-color: $bg-grey;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

// - - - - - - - - - - - - - Header Styles - - - - - - - - - - - - - - //

header {
  background: $highlight;
  color: $main;
  height: 140px;
  overflow: hidden;
}

.middle {
  margin: 42.5px auto;
  width: 86%;
}

nav {
  float: right;
  margin: 16.5px 0;

  a {
    color: $main;
    vertical-align: middle;
    margin-left: 2rem;
    font-size: 1.2rem;
    transition: all .2s ease-in-out;

    &:hover {
      color: $white;
    }
  }
}

.active {
  border-bottom: 1px solid $main;

  &:hover {
    border-bottom: 1px solid $white;
  }
}

.logo {
  float: left;
  width: 245px;
  max-width: 40%;
  transition: all .2s ease-in-out;
}

// - - - - - - - - - - - - - Content Styles - - - - - - - - - - - - - - //

.container {
  background-color: $bg-grey;
}

.page-content {
  margin: 0 7%;
  background: $white;
  padding: 0;
}

section {
  float: left;
  width: 55%;
  margin: 0;
  overflow: hidden;
  padding: 0 2.5em;
}

h1 {
  font-weight: 400;
  font-size: 1.7em;
  letter-spacing: 2px;
  color: $main;
  margin-bottom: 1.5em;
}

.latest-post {
  width: 616px;
  height: 367px;

  h2 {
    bottom: 12%;
    font-weight: 400;
    font-size: 2em;
  }

  p {
    bottom: 3%;
    font-size: 1em;
    font-weight: 200;
    font-style: italic;
  }

  .more {
    right: -20%;
    width: 20%;
  }

  i {
    margin: 167.5px 47.885px;
  }
}

.post {
  margin-bottom: 3em; 
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .3);

  .tone {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }

  i {
    color: rgba(66, 66, 66, .4);
  }

  .more {
    z-index: 3;
    overflow: hidden;
    position: absolute;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    transition: all .2s ease-in-out;
  }

  .post-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-height: 100%;
    z-index: 1;
  }


  h2, p {
    z-index: 2;
    position: absolute;
    left: 4%;
    color: $white;
  }

  &:hover {
    .more {
      right: 0;
    }
  }
}

// - - - - - - - - - - - - - Popular Styles - - - - - - - - - - - - - - //

aside {
  float: right;
  width: 42%;
  margin: 0;
}

.popular-post {
  width: 471px;
  height: 280px;

  h2 {
    bottom: 10%;
    font-weight: 400;
    font-size: 1.5em;
  }

  p {
    bottom: 0;
    font-size: .8em;
    font-weight: 200;
    font-style: italic;
  }
  
  .more {
    right: -18%;
    width: 18%;
  }

  i {
    margin: 118.79px 24.135px;
  }
}